html,
body,
#root {
  background-color: #1e1e24; 
  color: #f5f5f5; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

.media-page {
  text-align: center;
  padding: 20px;
}

.pt-content {
  padding-top: 70px;
}

.media-card {
  background-color: #23232a; 
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
  margin: 20px auto;
  max-width: 90%;
  padding: 20px;
}

.media-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

a {
  color: #61dafb; /* 
  text-decoration: none;
  transition: color 0.2s ease-in-out; /* Renk geçişi */
}

a:hover {
  color: #21a1f1; 
}

button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #21a1f1;
}

